<div class="cont-general">
    <h2>Proyectos</h2>
    <div class="wrapper">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SharkGames</h5>
                    </div>
                    <img src="../../../assets/img/cap-sharkgames.png" (mouseover)="activarBtns()" (mouseleave)="desactivarBtns()" class="card-img" alt="...">
                    <div #cardBtns class="card-btns">
                        <i class="uil uil-github"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SpotiApp</h5>
                    </div>
                    <img src="../../../assets/img/cap-spotiapp.png" (mouseover)="activarBtns()" (mouseleave)="desactivarBtns()" class="card-img" alt="...">
                    <div #cardBtns class="card-btns">
                        <i class="uil uil-github"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>