<div class="cont-general">
    <h2 data-aos="zoom-out" data-aos-easing="ease-in-sine">Proyectos</h2>
    <div class="wrapper">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
            <div class="col">
                <div class="cont-proy" data-aos="zoom-out" data-aos-easing="ease-in-sine">
                    <div class="proy-title">
                        <h5>NbaShop</h5>
                    </div>
                    <img src="../../../assets/img/cap-nbashop.png" class="img-proy" alt="...">
                    <div class="proy-btns">
                        <div class="tec-uti">
                            <img src="../../../assets/img/angular.svg">
                            <img src="../../../assets/img/language-typescript.svg">
                            <img src="../../../assets/img/bootstrap.svg">
                        </div>
                        <div class="cont-doble-btn">
                            <a class="btn-git" href="https://github.com/yairreynaldo/SharkGames" target="_blank">
                                <i class="uil uil-github"></i>
                            </a>
                            <a class="btn-git" href="https://stackblitz.com/edit/angular-ivy-cpb1mg" target="_blank">
                                <i class="uil uil-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cont-proy" data-aos="zoom-out" data-aos-easing="ease-in-sine">
                    <div class="proy-title">
                        <h5>SpotiApp</h5>
                    </div>
                    <img src="../../../assets/img/cap-spotiapp.png" class="img-proy" alt="...">
                    <div class="proy-btns">
                        <div class="tec-uti">
                            <img src="../../../assets/img/angular.svg">
                            <img src="../../../assets/img/language-typescript.svg">
                            <img src="../../../assets/img/api.svg">
                        </div>
                        <a class="btn-git" href="https://github.com/yairreynaldo/SpotiApp" target="_blank">
                            <i class="uil uil-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cont-proy" data-aos="zoom-out" data-aos-easing="ease-in-sine">
                    <div class="proy-title">
                        <h5>SharkGames</h5>
                    </div>
                    <img src="../../../assets/img/cap2-shark.png" class="img-proy" alt="...">
                    <div class="proy-btns">
                        <div class="tec-uti">
                            <img src="../../../assets/img/html-fill.svg">
                            <img src="../../../assets/img/css-fill.svg">
                            <img src="../../../assets/img/language-javascript.svg">
                        </div>

                        <div class="cont-doble-btn">
                            <a class="btn-git" href="https://github.com/yairreynaldo/SharkGames" target="_blank">
                                <i class="uil uil-github"></i>
                            </a>
                            <a class="btn-git" href="https://yairreynaldo.github.io/SharkGames/SharkGames/home.html" target="_blank">
                                <i class="uil uil-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>