nav {
    width: 100%;
    border-bottom: solid 1px #352d605c;
    box-shadow: 0 0 20px #00000057;
    position: fixed;
    z-index: 50;
    transition: 0.32s ease-in-out;
}

nav.nav-color {
    background: linear-gradient(90deg, rgb(41, 9, 131) 0%, rgba(9, 4, 86, 1) 100%);
    padding: .2rem .6rem;
}

.nav-no-color {
    background: initial !important;
}

.navbar-brand {
    width: 30%;
    display: flex;
    justify-content: center;
}

.collapse {
    width: 100%;
}

.navbar-expand-md .navbar-collapse {
    justify-content: center;
}

.barra-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0px !important;
    gap: 50px;
}

.nav-animated {
    margin: 10px 30px;
    background-image: linear-gradient(90deg, rgb(167, 138, 8) 0%, rgb(226, 186, 9) 50%, rgb(167, 138, 8) 100%);
    text-decoration: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 700ms ease-in-out;
}

.nav-animated:hover {
    background-size: 100% 2px;
    color: white;
}

@media only screen and (max-width: 767px) {
    .barra-nav {
        flex-direction: column;
        gap: 5px;
    }
    .nav-item a {
        font-size: 1rem;
    }
}