.info-mi {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 280px;
    max-height: 90vh;
}

.wrapper {
    padding: 1rem;
}

.pre-title {
    padding: .5rem 0;
    font-size: 1.3rem;
}

.title {
    font-size: 4rem;
}

.sub-title {
    padding: .5rem 0;
}

.description {
    font-family: var(--font-2);
    letter-spacing: .2px;
}

.inicio {
    background: url(/assets/img/972.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 90vh;
}

.caja-btn-verMas {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-verMas {
    background: linear-gradient(90deg, rgb(167, 138, 8) 0%, rgb(226, 186, 9) 50%, rgb(167, 138, 8) 100%);
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 500;
}

.btn-verMas:hover {
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.3);
}

.sidebar {
    width: 50px;
    top: 50%;
    right: 0px;
    position: fixed;
    background-color: initial;
    border-radius: 10px;
    z-index: 2;
}

.contact-logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1.5rem;
    padding-right: 20px;
}

.contact-logos a {
    border-radius: 50%;
    border: solid 1px white;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .5s, color .10s;
    text-decoration: none;
}

.contact-logos a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale3d(1.2, 1.2, 0.3);
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}