<div class="home">

    <div class="inicio" id="inicio">
        <app-navbar></app-navbar>
        <div class="info-mi">
            <div class="wrapper">

                <div class="pre-title animate__animated animate__fadeInUp animation-1">Bienvenidos soy</div>
                <h1 #asTitle class="title animate__animated animate__fadeInUp animation-2"></h1>
                <h2 class="sub-title animate__animated animate__fadeInUp animation-3">Desarrollador FullStack</h2>
                <p class="description animate__animated animate__fadeInUp animation-4">Proactivo con ganas de aprender y aportar <br> en proyectos en los que me toque participar</p>
            </div>
        </div>
        <div class="caja-btn-verMas">
            <a class=" btn btn-verMas animate__animated animate__fadeInUp animation-5" href="#contacto">Contactame</a>
        </div>
    </div>

    <div class="sidebar animate__animated animate__fadeInRight">
        <div class="contact-logos">
            <a href="https://www.linkedin.com/in/yair-reynaldo/" target="_blank">
                <i class="uil uil-linkedin-alt"></i>
            </a>
            <a href="https://github.com/yairreynaldo" target="_blank">
                <i class="uil uil-github"></i>
            </a>
            <a href="#contacto">
                <i class="uil uil-envelope"></i>
            </a>
        </div>
    </div>

    <div class="sobre-mi" data-aos="fade-right" data-aos-duration="1500" id="sobre-mi">
        <app-sobre-mi></app-sobre-mi>
    </div>

    <div class="skills" id="skills">
        <app-skills></app-skills>
    </div>

    <div class="proyectos" id="proyectos">
        <app-proyectos></app-proyectos>
    </div>

    <div class="contacto" id="contacto">
        <app-contacto></app-contacto>
    </div>

</div>