<div class="cont-general">
    <h2 data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">Sobre mi</h2>

    <div class="jumbotron" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <p>Mi nombre es Yair Reynaldo, Desarrolador fullstack apasionado por la programacion, que se encuentra terminando la carrera TUDAI de Unicen, actualmente resido en San carlos de Bolivar y estoy en busqueda laboral.</p>
        <br>
        <p>Mis objetivos son involucrarme activamente en la creacion de sitios web y aplicaciones en los que me toque participar, tratando de aprender nuevos conocimientos y aportar los mios.</p>
        <br>
        <p>Me considero una persona paciente y perseverante a la hora de resolver problemas. Proactivo, disciplinado y con buena capacidad para el trabajo en equipo. </p>
        <br>
        <div class="cont-btn">
            <a class="btn btn-danger" href="https://drive.google.com/file/d/1VnuXfUW_gmbOPpSdelcYafzSOPy07ZSo/view"> Descargar CV</a>
        </div>
    </div>
</div>