<div class="cont-general">
    <h2 data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">Skills</h2>
    <div class="jumbotron" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/angular-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Angular</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/java-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Java</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/JavaScript-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/Typescript-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Typescript</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/php-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PHP</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/MySQL-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MySQL</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/html-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">HTML</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/css-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/Bootstrap-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bootstrap</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/git-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Git</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>