.cont-general {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cont-general h2 {
    width: 70%;
    text-align: center;
}

.jumbotron {
    background-color: var(--color-2);
    width: 70%;
    padding: .5rem .5rem;
}

.card {
    width: 4rem;
    background-color: initial;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: scale .5s ease-in-out;
}

.card:hover {
    animation-name: swing;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.card-title {
    text-align: center;
    font-size: 0.8rem;
    width: 4rem;
}

.card-img-top {
    height: 4rem;
    width: 4rem;
}

.row {
    justify-content: center;
}

.col {
    justify-content: center;
    display: flex;
}